{{> head}}

{{> navbar}}

<div class="row">

    <div class="col-8">
        <h1>Montana</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi recusandae inventore at quibusdam quod quaerat praesentium unde dolores molestias distinctio, sint necessitatibus dignissimos similique hic eius excepturi dolorum eum illo.</p>
    </div>
    <div class="col-4">
        <img class="img-thumbnail" src="asets/img/img1.png" alt="">
    </div>


</div>


{{> footer}}